@font-face {
  font-family: "Geomanist";
  font-weight: 500;
  src: url("https://simplyingenious.github.io/tswr/fonts/geomanist-medium-webfont.woff2")
      format("woff2"),
    url("https://simplyingenious.github.io/tswr/fonts/geomanist-medium-webfont.woff")
      format("woff");
}
