@font-face {
  font-family: "Geomanist", sans-serif;
  font-weight: 500;
  src: url("fonts/geomanist-medium-webfont.woff2") format("woff2"),
    url("fonts/geomanist-medium-webfont.woff") format("woff");
}
